@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 10px;
  padding: 0;
  box-sizing: boder-box;
}

body {
  font-family: "Lexend Deca", sans-serif;
  background-color: #642e8e;
  color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #704b8d;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

.logo img {
  width: 200px;
  height: auto;
}

.menu-toggler {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* .navbar {
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
} */

.navbar ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.navbar li {
  background-color: #ee9d37;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  transition: background-color 0.3s, padding 0.3s, font-size 0.3s;
  flex-shrink: 1;
}

.navbar li:hover {
  background-color: #eec491;
}

.navbar a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  text-align: center;
  transition: font-size 0.3s, color 0.3s;
}

.navbar a:hover {
  color: #642e8e;
}

/* header principal com títulos */
.header-test {
  text-align: center;
  margin: 40px 0;
}

.header-test h1 {
  font-family: "Titillium Web", serif;
  font-weight: 600;
  font-size: 50px;
  color: #ee9d37;
  margin-bottom: 10px;
}

.header-test h2 {
 font-family: "Lexend Deca", sans-serif;
  font-weight: 700;
  font-size: 18pt;
  color: #ee9d37;
}

p {
  text-indent: 20px;
  text-align: justify;
  color: white;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

/*foto principal*/
figure.foto-principal {
  position: relative;
  border: 3px solid #642e8e;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

figure.foto-principal img {
  max-width: 90%;
  height: auto;
  object-fit: contain;
  display: block;
}

figure.foto-principal figcaption {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  transition: opacity 0.5s;
}

figure.foto-principal:hover figcaption {
  opacity: 1;
}

section#txtp {
  max-width: 800px;
  margin: 0 auto 40px auto;
  padding: 0 10px;
  text-align: justify;
}

section h2 {
  text-align: center;
}
section#txtp h2 {
  max-width: 800px;
  margin-bottom: 20px;
  text-align: justify;
  text-align: center;
}

section#txtp p {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 30px;
  color: white;
}

h2 {
  color: white;
}
table {
  color: rgb(194, 162, 212);
  text-align: center;
  border: 1px solid #50167c;
  border-spacing: 0px;
  width: 350px;
  margin: 20px auto;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

table td {
  border: 1px solid #50167c;
  padding: 5px;
}

#val {
  display: flex;
  flex-direction: column;
  align-items: center;
}

caption {
  padding: 5px;
}

form {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color: #642e8e;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}

form div {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 6px;
  font-size: 14px;
}

form input,
form textarea {
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
  resize: none;
  background-color: rgb(194, 162, 212);
}

form button {
  background: #ee9d37;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s;
  margin: 20px auto;
  display: block;
}

form button:hover {
  background-color: #eec491;
  color: #50167c;
}

footer#rodape {
  /*forma a linha que separa o rodapé do body*/
  clear: both;
  border-top: 1px solid #ee9d37;
  padding: 20px 0;
  text-align: center;
}
footer#rodape p {
  text-align: center;
}

footer#rodape a {
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
  color: #ee9d37;
  margin: 0 10px;
}

@media (max-width: 1414px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .menu-toggler {
    display: block;
  }
  .navbar {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 90%;
    background-color: #704b8d;
    flex-direction: column;
    text-align: flex-start;
    padding: 10px;
    border-radius: 0 0 20px 20px;
  }
  .navbar.show ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
  }
  .navbar li {
    width: 100%;
    text-align: left;
  }
  .navbar.show {
    display: flex;
  }
  .logo {
    margin: 0;
  }
}
